.mat-card .mat-divider-horizontal {
  position: inherit;
}

::ng-deep .ss-table-primary {
  td.mat-cell {
    max-width: 22ch !important;
  }
}

.tooltip-list {
  white-space: pre-line !important;
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
  max-width: unset !important;
}

// IIFL Start
.mandatory-doc-container {
  border: 1px solid var(--ss-c6);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.mandatory-doc-show {
  background-color: var(--ss-c6);
  font-size: 16px;
  display: flex;
  justify-content: space-between;

}

.mandatory-doc {
  color: var(--ss-button-primary-bg-color);
  font-size: 16px;
  cursor: pointer;
}

.doc-ico {
  font-size: 28px;
}

.doc-label {
  position: relative;
  bottom: 6px;
}

.list-item {
  line-height: 25px;
}

.doc-close-ico {
  font-size: 25px;
  cursor: pointer;
}

// IIFL End